* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #22101f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}
.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.harmburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 768px) {
  .harmburger {
    display: block;
  }
  /* javascript */
  .harmburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .harmburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .harmburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #22101f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  /* java */
  .nav-menu.ative {
    left: 0;
  }
}
